:root {
    --primary-color: rgb(255, 150, 69);
    --van-search-left-icon-color: var(--primary-color)!important;
    --van-index-bar-index-active-color: var(--primary-color)!important;
    --van-index-anchor-sticky-text-color: var(--primary-color)!important;
}

body {
    font-size: 14px;
}

.border-bottom {
    border-bottom: 1px solid #f2f2f2;
}


/* .top-bar {
    position: relative;
    z-index: 9;
    background-color: white;
} */